//- Main wrapper partial
.app {
  display: grid;
  grid-template-columns: var(--logo-column) var(--empty-column) var(--main-column) var(--empty-column); 
  grid-template-areas: "header . main .";
  width: 100%;
  max-width: map-get($breakpoints, 'desktop-xlarge');
  color: var(--text-color);

  @include media('>desktop-xlarge') {
    // Values to be fixed
    --grid-column: 12em;
    --start-position: -24em;
  }
}

.main {
  grid-area: main;

  &__aside {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: var(--header-top-height);
  }

  &__section {
    & + #{&} {
      --flow-space: 14rem; 
      margin-block-start: var(--flow-space);
    }

    &--low-contrast {
      position: relative;
      padding-block-start: var(--section-padding);
      padding-block-end: var(--section-padding);

      & > * {
        position: relative;
      }

      &::before {
        --flow-space: 1em;

        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(-1 * var(--empty-column));
        width: calc(var(--main-column) + 2 * var(--empty-column));
        background-color: $low-contrast-background;
        backdrop-filter: blur(3px);
        transform: translate3d(0, 0, 1px);
        z-index: $low-background-index;
      }
    }
  }

  // .button {
  //   position: absolute;
  //   top: var(--flow-space);
  //   right: var(--grid-column);
  // }
}