//- Color variables

/// @type Color
$white: rgb(255,255,255) !default;
$light-grey: rgb(241, 242, 240) !default;
$mid-grey: rgb(224, 224, 224) !default;
$dark-grey: rgb(57, 62, 66) !default;
$vivid-blue: rgb(4, 118, 220) !default;
$dark-blue: rgb(0, 62, 109) !default;
$cute-yellow: rgb(248, 168, 82) !default;
  
$primary-color: $dark-blue !default;
$secondary-color: $vivid-blue !default;
$tertiary-color: $cute-yellow !default;

$heading-color: $light-grey !default;

$text-color: $dark-grey !default;
$anchor-color: $text-color !default;
$anchor-color-hover: $light-grey !default;
$anchor-color-hover-negative: rgba($light-grey, .5) !default;

$button-background: $primary-color !default;

$low-contrast-background: transparentize($light-grey, .1);

$text-shadow: 0 0 10px $text-color;
$heading-shadow: 0 0 10px $primary-color, 0 0 20px $primary-color, 0 0 30px $primary-color, 0 0 40px $primary-color;