//- This file contains all @font-face declarations.
@font-face {
  font-family: 'Barlow';
  font-weight: map-get($text-font-weight, normal);
  src: url($font-url + 'Barlow/Barlow-Regular.ttf');
}

@font-face {
  font-family: 'Barlow';
  font-weight: map-get($text-font-weight, bold);
  src: url($font-url + 'Barlow/Barlow-Medium.ttf');
}

@font-face {
  font-family: 'Roboto Slab';
  font-weight: map-get($text-font-weight, normal);
  src: url($font-url + 'Roboto_Slab/static/RobotoSlab-Regular.ttf');
}