//- Basic typography style
html {
  font: map-get($text-font-weight, regular) 62.5% / #{map-get($text-font-height, generic)} $text-font-stack; //- 62.5% makes 'em' unit computed as 10px; 125% makes 'em' units computed as 20px;
}

body {
  color: $text-color;
}

//- Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font-stack;
  font-weight: map-get($text-font-weight, regular);
  line-height: map-get($text-font-height, heading);
  color: $primary-color;
}

h1 {
  @include media('<=mobile') {
    font-size: map-get($heading-font-1, small);
  }

  @include media('>mobile', '<=laptop') {
    font-size: map-get($heading-font-1, medium);
  }

  @include media('>laptop') {
    font-size: map-get($heading-font-1, large);
  }
}

h2 {
  @include media('<=mobile') {
    font-size: map-get($heading-font-2, small);
  }

  @include media('>mobile', '<=laptop') {
    font-size: map-get($heading-font-2, medium);
  }

  @include media('>laptop') {
    font-size: map-get($heading-font-2, large);    
  }
}

h3 {
  @include media('<=mobile') {
    font-size: map-get($heading-font-3, small);
  }

  @include media('>mobile', '<=laptop') {
    font-size: map-get($heading-font-3, medium);
  }

  @include media('>laptop') {
    font-size: map-get($heading-font-3, large);    
  }
}

h4 {
  @include media('<=mobile') {
    font-size: map-get($heading-font-4, small);
  }

  @include media('>mobile', '<=laptop') {
    font-size: map-get($heading-font-4, medium);
  }

  @include media('>laptop') {
    font-size: map-get($heading-font-4, large);    
  }
}

h5 {
  font-size: $heading-font-5;
}

h6 {
  font-size: $heading-font-6;
}

p {
  @include media('<=mobile') {
    font-size: map-get($parragraph-font, small)
  }

  @include media('>mobile', '<=laptop') {
    font-size: map-get($parragraph-font, medium)
  }

  @include media('>laptop') {
    font-size: map-get($parragraph-font, large)
  }
}

b,
strong {
  font-size: inherit;
  font-weight: map-get($text-font-weight, regular);
}

mark {
  font-family: $title-font-stack;
  font-size: map-get($heading-font-4, large);
}

ul {
  @include media('<=mobile') {
    font-size: map-get($list-font, small)
  }

  @include media('>mobile', '<=laptop') {
    font-size: map-get($list-font, medium)
  }

  @include media('>laptop') {
    font-size: map-get($list-font, large)
  }
}

figure {
  @include media('<=mobile') {
    font-size: map-get($other-fonts, small)
  }

  @include media('>mobile', '<=laptop') {
    font-size: map-get($other-fonts, medium)
  }

  @include media('>laptop') {
    font-size: map-get($other-fonts, large)
  }
}