head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  
  title Noga Therapeutics #{title}

  //- meta-data
  link(rel="canonical" href="http://noga-tx.com/")
  meta(name="description" content="Noga Therapeutics is developing Gene therapies for primary immune deficiencies")

  //- OG meta-data
  meta(property="og:url" content="http://noga-tx.com/")
  meta(property="og:type" content="website")
  meta(property="og:title" content="Noga Therapeutics")
  meta(property="og:image" content="http://noga-tx.com/dist/assets/og/noga-tx.jpg")
  meta(property="og:description" content='Noga Therapeutics is developing Gene therapies for primary immune deficiencies')

  //- Twitter meta-data
  meta(name="twitter:card" content="Noga Therapeutics")
  meta(name="twitter:url" content="http://noga-tx.com/")
  meta(name="twitter:title" content="Noga Therapeutics")
  meta(name="twitter:description" content='Noga Therapeutics is developing Gene therapies for primary immune deficiencies')
  meta(name="twitter:image:src" content="http://noga-tx.com/dist/assets/og/noga-tx.jpg")
  meta(name="twitter:image:alt" content="DNA structure")

  //- FavIcons
  meta(name="apple-mobile-web-app-capable" content="yes")
  link(rel="apple-touch-icon" sizes="180x180" href="/dist/assets/favicons/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="/dist/assets/favicons/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="192x192" href="/dist/assets/favicons/android-chrome-192x192.png")
  link(rel="icon" type="image/png" sizes="16x16" href="/dist/assets/favicons/favicon-16x16.png")
  link(rel="manifest" href="/dist/assets/favicons/site.webmanifest")
  link(rel="mask-icon" href="/dist/assets/favicons/safari-pinned-tab.svg" color="#5bbad5")
  link(rel="shortcut icon" href="/dist/assets/favicons/favicon.ico")
  meta(name="msapplication-TileColor" content="#2b5797")
  meta(name="msapplication-TileImage" content="/dist/assets/favicons/mstile-144x144.png")
  meta(name="msapplication-config" content="/dist/assets/favicons/browserconfig.xml")
  meta(name="theme-color" content="#ffffff")