extends ../../layout

block content
  - var pageTitle = 'Noga Therapeutics';
  - var contactButtonText = 'Contact Us';

  main#main.main
    block hero
      include ../includes/hero-image

    aside.main__aside
      a.button.button--primary(href="mailto:info@noga-tx.com") #{contactButtonText}

    section.main__section
      svg.logo.logo--main
        title #{pageTitle} logo
        use(xlink:href="#nogaLogo")

      h1 Developing Gene Therapies
        br
        | to transform the life of patients
        br
        | and their families.

    section.main__section
      p #{pageTitle} was established in 2019 in memory 
        br
        | of Noga Baumatz with a mission to develop gene therapies 
        br
        | for Primary Immune Deficiencies (PID).

      figure
        img(src="../../assets/images/noga-family-filters.jpg")

    section.main__section
      h2 What are PID's

      p #[b Primary Immune Deficiency] diseases are rare, genetic disorders that impair the immune system. Without a functional immune response, people with PIDs may be subject to chronic, debilitating infections.
      
      figure
        img(src="" alt="")
        figcaption About 1 in 500 people in the United States are born with a Primary Immune Deficiency.

      p In the past decade, gene therapies have shown encouraging results in several PIDs. #[b However, most remain without effective treatment options.] 

      figure
        img(src="" alt="")
        figcaption There are over 400 recognized Primary Immune Deficiencies but only 5 of them have Gene Therapy programs. 

    section.main__section
      h2 Why Gene Therapy?

      p Current standard of care for most PID's is Hematopoeitic Stem Cell Transplant (HSCT) which has many drawbacks that are overcome by Gene Therapy.
      
      .c-table.c-table--2cols.c-table--collapse
        .c-table-cell.c-table-cell--head.c-table-cell--dark(style="order:0;")
          h3 HSCT
        .c-table-cell.c-table-cell--light(style="order:1;") Harsh conditioning (radiation, chemotherapy)
        .c-table-cell.c-table-cell--light(style="order:2;") Requires a matched donor
        .c-table-cell.c-table-cell--light(style="order:3;") Poor life quality due to Graft Vs Host Disease (GVHD), and other disease specific complications
        .c-table-cell.c-table-cell--light(style="order:4;") Many patients remain dependent on Immunoglobulin replacement therapy even after transplant
        .c-table-cell.c-table-cell--light(style="order:5;") Often a 2nd HSCT is required due to poor immune system reconstitution
        .c-table-cell.c-table-cell--light(style="order:6;") Overall survival rate of 60-75%

        .c-table-cell.c-table-cell--head.c-table-cell--dark(style="order:0;")
          h3 Gene Therapy
        .c-table-cell.c-table-cell--light(style="order:1;") Reduced or no conditioning treatment
        .c-table-cell.c-table-cell--light(style="order:2;") Using own patient’s cells
        .c-table-cell.c-table-cell--light(style="order:3;") Normal life quality
        .c-table-cell.c-table-cell--light(style="order:4;") Full restoration of the immune system removes the need for Immunoglobulin replacement therapy
        .c-table-cell.c-table-cell--light(style="order:5;") One-time curative treatment
        .c-table-cell.c-table-cell--light(style="order:6;") No failures recorded at the last decade
        
    section.main__section
      h2 The Therapy
      
      p #[b In Lentiviral Autologous Gene Therapy, stem cells are collected from the patient, mutations are corrected using lentiviruses and then the repaired cells are re-introduced into the patient.]

      ul.list
        li.list__item 200+ patients with PID's have been successfully treated;
        li.list__item 12 years in the clinic with no reports of major adverse events;
        li.list__item Currently dozens of ongoing clinical trials;
        li.list__item New therapies soon to enter the market.

    section.main__section
      h2 Lead Indication

      p Noga Tx is currently developing a lentiviral vector for our lead indication.
      
      p This project is done in collaboration with #[b Schneider - Children's Medical Center] with 30 patients under care. We aim to conduct a first-in-human trial in dozens of XLA patients at Schneider. 

      p Our pipeline includes two additional PIDs in the evaluation phase.

    section.main__section.main__section--low-contrast
      h2 Our Team

      p Our scientists come from leading academic institutions and bring industry experience in cell and gene therapy.

      ul.team-list
        li.team-list__item
          .team-list__image
            img(src="../../assets/images/team/NoamD.jpg")
          b Dr. Noam Diamant 
          br
          | Co-founder &amp; CEO
        
        li.team-list__item
          .team-list__image
            img(src="../../assets/images/team/NoamB.jpg")
          b Noam Baumatz
          br
          | Co-founder
        
        li.team-list__item
          .team-list__image
            img(src="../../assets/images/team/LironE.jpg")
          b Dr. Liron Elkouby
          br
          | Head of Discovery

        li.team-list__item
          .team-list__image
            img(src="../../assets/images/team/LiatP.jpg")
          b Dr. Liat Pinkas
          br
          | Head of Development

    section.main__section
      h2 Market

      p Our lead indication is a disease with a high burden and poor treatment options presenting a true unmet need. With over 3000 patients in the Western world alone, the projected market size is 2 Billion USD.

    section.main__section
      h2 Investors

      p Ongoing research and development collaboration with Lonza, a global leader in biologics manufacturing and Cell &amp; Gene Therapy, including:

      ul.list
        li.list__item Cash investment;
        li.list__item Development in Lonza's Cocoon#[sup TM] automated cell therapy system;
        li.list__item Commitment to manufacturing lentiviral vectors.

    section.main__section.main__section--low-contrast
      h2 Business Opportunity

      p Success of lentiviral gene therapy companies in previous years was based on results with small numbers of patients.

      p Positive results in early trials were value drivers as can be seen by the increase of the market value of the following companies:

      mark We are currently seeking to partner with additional investors that will take us to a first-in-human trial in Israel.

    
