.button {
  display: inline-block;
  margin: var(--flow-space) 0;
  padding: calc(.5 * var(--flow-space)) calc(2.5 * var(--flow-space));
  font-size: 2em;
  font-weight: map-get($text-font-weight, regular);
  white-space: nowrap;
  text-decoration: none;
  border-radius: $default-radius;

  &--primary {
    @include button-bg($secondary-color, $white);
  }
}